.df-header {
  width: auto;
  background: linear-gradient(
    90deg,
    #f3eeebab 0%,
    #dbcca466 50%,
    #f3eeebab 100%
  );
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  box-sizing: border-box;
  border-bottom: 0.7px solid #422105b7;
}

.df-left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* DigiForm-Titel */
.df-brand {
  font-size: 2.3rem;
  font-weight: 100;
  color: #111827;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.df-brand:hover {
  opacity: 0.7;
}

.df-right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.df-link {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 300;
  color: #111827;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.df-link:hover {
  text-decoration: underline;
}

.df-login-pill {
  background-color: #111827;
  color: #ffffff;
  border: none;
  border-radius: 999px;
  padding: 0.9rem 3.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.df-login-pill:hover {
  background-color: #383838;
}

.df-logo-img {
  height: 220px; /* passe die Größe an deine PNG an */
  width: auto;
  object-fit: contain;
  display: block;
}
