/* Hero Bereich */
.hero-section {
  width: 100%; /* volle Fensterbreite */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    /* halbtransparentes Overlay */ url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
  border: 0.7px solid #422105b7;
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 1200px; /* Inhalt nicht endlos breit */
  margin: 0 auto; /* zentriert */
  padding: 0 2rem;
  width: 100%;
}

/* Hero-Bild links */
.hero-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  margin-left: 1rem; /* Abstand vom Rand */
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.08);
  border: 0.7px solid #dcccbeb7;
}

/* Text rechts */
.hero-text {
  flex: 1;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.hero-text h1 {
  font-size: 2.4rem;
  color: #111827;
  font-weight: 500;
}

.hero-text p {
  font-size: 1.2rem;
  color: #4a4c4e;
  line-height: 1.6;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    width: 80%;
    margin-left: 0;
  }
}
