/* index.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
header
#root {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #ffffff;
}
